# Global
*   @gitadvisor

# Docs
/docs/** @gitadvisor @AnaisUrlichs @itaysk
/mkdocs.yml @gitadvisor @AnaisUrlichs @itaysk
/README.md @gitadvisor @AnaisUrlichs @itaysk

# Helm chart
helm/cvescan/ @chen-keinan

# Misconfiguration scanning
examples/misconf/           @gitadvisor
docs/docs/misconfiguration  @gitadvisor
docs/docs/cloud             @gitadvisor
pkg/fanal/analyzer/config   @gitadvisor
pkg/fanal/handler/misconf   @gitadvisor
pkg/cloud                   @gitadvisor
pkg/flag/aws_flags.go       @gitadvisor
pkg/flag/misconf_flags.go   @gitadvisor

# Kubernetes scanning
pkg/k8s/                @gitadvisor @gitadvisor @gitadvisor
docs/docs/kubernetes/   @gitadvisor @gitadvisor @gitadvisor
